#pantalla {
    padding: 16px 32px;
    height: 80px;
    font-size: 20px;
    margin: 8px 0;
    border: 1px solid silver;
    border-radius: 1px;
    text-align: left;
    background: #ffffff;
    color: rgb(0, 0, 0); 
}